h2 {
  color: blueviolet;
  text-align: center;
  font-family: "Red Rose", cursive;
  font-weight: bolder;
}

h4 {
  margin-left: 30px;
  font-family: "Red Rose", cursive;
  font-weight: bolder;
}

.weather-app {
  max-width: 600px;
  margin: 30px auto;
}
.date {
  font-weight: bolder;
}
.location {
  margin-top: 30px;
}
.col-4 {
  text-align: center;
  font-size: 18px;
  font-family: "Red Rose", cursive;
}
.temperature {
  margin-top: 0 auto;
}
.temperature-value {
  font-size: 50px;
}
.card {
  font-family: "Red Rose", cursive;
}
.card-title {
  text-align: center;
}
.card-img-top {
  max-width: 50%;
}
.card-img-bottom {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
.card-text {
  text-align: center;
  margin-top: 25px;
}

#icon {
  margin-bottom: 0 auto;
}
#signature {
  text-align: center;
  font-size: 10px;
  font-family: "Red Rose", cursive;
}

#description {
  text-transform: capitalize;
}
